<a href="https://colab.research.google.com/github/nethrabalaraman/Movie-Recomendatrion-System/blob/main/Movie_Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
movies = pd.read_csv('/content/tmdb_5000_movies.csv')
credits= pd.read_csv('/content/tmdb_5000_credits.csv')

In [ ]:
movies.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [ ]:
credits.head(5) 
#cast and crew

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
movies=movies.merge(credits,on='title')

In [ ]:
movies.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [ ]:
movies.head(1).shape

(1, 7)

In [ ]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [ ]:
movies.dropna(inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [ ]:
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
       L.append(i['name'])
    return L

In [ ]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [ ]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [ ]:
movies['genres']=movies['genres'].apply(convert)

In [ ]:
def convert3(obj):
    L=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter !=3:
           L.append(i['name'])
           counter+=1
        else:
            break
    return L

In [ ]:
movies['cast']=movies['cast'].apply(convert3)

In [ ]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
movies['crew']=movies['crew'].apply(convert)
movies['keywords']=movies['keywords'].apply(convert)

In [ ]:
movies.head(5)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[Stephen E. Rivkin, Rick Carter, Christopher B..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[Dariusz Wolski, Gore Verbinski, Jerry Bruckhe..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]","[Thomas Newman, Sam Mendes, Anna Pinnock, John..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[Hans Zimmer, Charles Roven, Christopher Nolan..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[Andrew Stanton, Andrew Stanton, John Lasseter..."

In [ ]:
movies['overview']= movies['overview'].apply(lambda x:x.split())

In [ ]:
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[Stephen E. Rivkin, Rick Carter, Christopher B..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[Dariusz Wolski, Gore Verbinski, Jerry Bruckhe..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]","[Thomas Newman, Sam Mendes, Anna Pinnock, John..."

In [ ]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])

In [ ]:
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [ ]:
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[StephenE.Rivkin, RickCarter, ChristopherBoyes..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[DariuszWolski, GoreVerbinski, JerryBruckheime..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux]","[ThomasNewman, SamMendes, AnnaPinnock, JohnLog..."

In [ ]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [ ]:
new_df=movies[['movie_id','title','tags']]

In [ ]:
new_df.head(3)

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send..."

In [ ]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
new_df.head(3)

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...

In [ ]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())
new_df.head(3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bondâ€™s past sends him o...

In [ ]:
import nltk

In [ ]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [ ]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

In [ ]:
new_df['tags']=new_df['tags'].apply(stem)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
new_df['tags'][0]

"in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav stephene.rivkin rickcart christopherboy christopherboy malifinn jameshorn jamescameron jamescameron jamescameron jamescameron jamescameron andrewmenzi jillbrook margerysimkin kevinishioka dickbernstein shannonmil denniethorp janav deborahlynnscott jonlandau seanhaworth kimsinclair kimsinclair richardf.may laetakalogridi mayesc.rubeo maurofior scottherbertson woodyschultz lindadevetta lindadevetta richardbluck simonbright richardmartin stever.moor johnrefoua karlj.martin chilinglin ilramchoi stevenqual carlamey nickbassett jillcormack andymclaren terrynotari garrettwarren jonathanrothbart stefandech toddcherniawski mirandariv robertstromberg johnhard robertodeang mikesmithson alainlalann lucassalton janacetashjian stephenrosenbaum frankiekarena lisalovaa jonathanfawkn robertbavin anthonyalmaraz carolynm.fenton bethkoenigsberg sampag texkadonaga kimfoscato tammys.le dennycaira jameswaitku addisonteagu c.scottbak lukecaska davidchow jonathandy josephhiura rebeccajelli robertandrewjohnson mikestassi johnvillarino jeffreywisniewski cherylnardi marshallwinn gwendolynyateswhittl williamstein lulawashington chrisdelcont r.christopherwhit danlemmon timnielsen michaelmulholland thomasnittmann edsonwilliam christinecarr johnbruno davidemmerich christopherscarabosio jennifertev brigitteyork kenfisch iainhutton steveingram joycecox jennyfost christophermarino jimmilton cyndioch lucasputnam anthony'max'ivin johnknol ericsaindon waynest davidstinnett guywilliam stuartthorp gilescoburn markfellman scottspragu jeremyhollobon orlandomeuni taisuketanimura liliamishelacevedo alejandrom.hernandez marvinhal judyalley mikeperri andrewmorley sethengstrom ericoliv matsunesuzuki paultobin roxanegriffin arunram-mohan georgialockhart-adam thrainshadbolt bradalexand shadialmassizadeh simonclutterbuck graemedemmock adrianfernand mitchgat jerrykung andyloma sebastianmarino matthiasmenz sergeinevshupov philipperebour michaeltakarangi davidweitzberg benwhit minwindl"

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
cv = CountVectorizer(max_features=5000,stop_words='english')

In [ ]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [ ]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
cv.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['000',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '18th',
 '19',
 '1930',
 '1940',
 '1950',
 '1960',
 '1970',
 '1980',
 '1990',
 '19th',
 '19thcenturi',
 '20',
 '20th',
 '24',
 '25',
 '30',
 '3d',
 '40',
 '50',
 '60',
 '70',
 'aaron',
 'aaroneckhart',
 'aaronglascock',
 'aaronseltz',
 'aaronwilliam',
 'aaronzigman',
 'abandon',
 'abduct',
 'abil',
 'abl',
 'abov',
 'abram',
 'abus',
 'academi',
 'accept',
 'access',
 'accid',
 'accident',
 'accompani',
 'accomplish',
 'account',
 'accus',
 'achiev',
 'ackerman',
 'act',
 'action',
 'activ',
 'activist',
 'actor',
 'actress',
 'actual',
 'adam',
 'adamdal',
 'adamgreenberg',
 'adamjenkin',
 'adammckay',
 'adammilosmalley',
 'adamsandl',
 'adamshankman',
 'adamsomn',
 'adapt',
 'add',
 'addict',
 'admir',
 'admit',
 'adolesc',
 'adopt',
 'ador',
 'adrianbiddl',
 'adrienbrodi',
 'adult',
 'adulteri',
 'advanc',
 'adventur',
 'adventure',
 'advertis',
 'advic',
 'affair',
 'affect',
 'afghanistan',
 'africa',
 'african',
 'aftercreditssting',
 'afterlif',
 'ag',
 'age',
 'agediffer',
 'agent',
 'aggieguerardrodg',
 'ago',
 'agre',
 'aguilar',
 'ahead',
 'ai',
 'aid',
 'aim',
 'air',
 'airplan',
 'airport',
 'aishacoley',
 'akivagoldsman',
 'al',
 'alanb',
 'aland',
 'alanedwardbel',
 'alanmenken',
 'alanrobertmurray',
 'alansilvestri',
 'alaska',
 'albert',
 'albertgass',
 'albertr',
 'albertwolski',
 'alcerullo',
 'alcohol',
 'alecbaldwin',
 'alechammond',
 'alejandroamenÃ¡bar',
 'alejandrogonzÃ¡leziÃ±Ã¡rritu',
 'alessandro',
 'alex',
 'alexandergruszynski',
 'alexanderpayn',
 'alexanderwitt',
 'alexandredesplat',
 'alexbailey',
 'alexgibson',
 'alexkavanagh',
 'alexkendrick',
 'alexkurtzman',
 'alexproya',
 'alexrous',
 'alfonsocuarÃ³n',
 'alfredhitchcock',
 'alftramontin',
 'ali',
 'alic',
 'alice',
 'aliciastevenson',
 'alien',
 'alieninvas',
 'alienlife',
 'alisalepselt',
 'aliv',
 'alive',
 'allana',
 'allen',
 'allencovert',
 'allenhal',
 'alli',
 'allianc',
 'allisonjon',
 'allow',
 'alon',
 'alpacino',
 'alreadi',
 'alter',
 'altern',
 'alway',
 'alysondeemoor',
 'amanda',
 'amandagoodpast',
 'amandamackey',
 'amaz',
 'ambassador',
 'ambit',
 'ambiti',
 'ambul',
 'ambush',
 'america',
 'american',
 'americanfootbal',
 'amico',
 'amidst',
 'amirmokri',
 'amnesia',
 'amp',
 'amus',
 'amyadam',
 'analyst',
 'anamariaquintana',
 'anastasn',
 'ancient',
 'anderson',
 'andi',
 'andreak',
 'andreasgrosch',
 'andrew',
 'andrewa',
 'andrewackland',
 'andrewadamson',
 'andrewcoop',
 'andrewdecristofaro',
 'andrewdunn',
 'andrewg',
 'andrewj',
 'andrewl',
 'andrewlaw',
 'andrewlazar',
 'andrewlesni',
 'andrewm',
 'andrewmason',
 'andrewmaxcahn',
 'andrewmenzi',
 'andrewmondshein',
 'andrewneskoromni',
 'andrewniccol',
 'andrewrowland',
 'andrewstanton',
 'android',
 'andrzejbartkowiak',
 'andygarcÃ­a',
 'andykaplan',
 'andymalcolm',
 'andynelson',
 'andynicholson',
 'angel',
 'angeles',
 'angelinajoli',
 'angelocolavecchia',
 'anger',
 'angerio',
 'angle',
 'angri',
 'ani',
 'anim',
 'animalhorror',
 'ann',
 'anna',
 'annab',
 'annabehlm',
 'annafari',
 'annapinnock',
 'annaran',
 'anne',
 'annehathaway',
 'annekuljian',
 'annemccarthi',
 'annetteben',
 'annev',
 'anni',
 'anniepenn',
 'anniewel',
 'announc',
 'annroth',
 'annscibelli',
 'anntenggren',
 'annual',
 'anonym',
 'anoth',
 'answer',
 'ant',
 'anthoni',
 'anthonyanderson',
 'anthonyb',
 'anthonybregman',
 'anthonydininno',
 'anthonydodmantl',
 'anthonyhopkin',
 'anthonyj',
 'anthonykataga',
 'anthonyminghella',
 'anthonyrizzo',
 'anthropomorph',
 'anti',
 'antihero',
 'antoni',
 'antoniobandera',
 'anyon',
 'anyth',
 'apart',
 'apartment',
 'ape',
 'apocalyps',
 'apocalypt',
 'apon',
 'appar',
 'appear',
 'appoint',
 'apprentic',
 'approach',
 'april',
 'aprilwebst',
 'archaeologist',
 'architect',
 'arci',
 'area',
 'arena',
 'aris',
 'aristocrat',
 'arm',
 'armi',
 'armsdeal',
 'armstrong',
 'army',
 'armyanbernstein',
 'arnold',
 'arnoldkopelson',
 'arnoldschwarzenegg',
 'arnonmilchan',
 'arrang',
 'arrest',
 'arriv',
 'art',
 'arthur',
 'arthurmax',
 'arthurschmidt',
 'artificialintellig',
 'artist',
 'artlinson',
 'arunram',
 'ashley',
 'ashleyjudd',
 'ashokamritraj',
 'ashtonkutch',
 'ask',
 'aspir',
 'assassin',
 'assault',
 'assign',
 'assist',
 'associ',
 'assum',
 'asteroid',
 'astronaut',
 'asylum',
 'ateah',
 'athlet',
 'atomegoyan',
 'atomicbomb',
 'attack',
 'attempt',
 'attend',
 'attent',
 'attitud',
 'attorney',
 'attract',
 'audienc',
 'audit',
 'august',
 'aunt',
 'austerberri',
 'austin',
 'australia',
 'australian',
 'author',
 'auto',
 'aveng',
 'aviarad',
 'avilern',
 'avoid',
 'avykaufman',
 'await',
 'awaken',
 'award',
 'away',
 'babi',
 'baby',
 'bachelor',
 'backdrop',
 'background',
 'bad',
 'bahama',
 'bail',
 'bailey',
 'bak',
 'balanc',
 'ball',
 'ballet',
 'band',
 'banish',
 'bank',
 'banker',
 'bankrobberi',
 'bannon',
 'bar',
 'barbarabroccoli',
 'barbaraharri',
 'bare',
 'bargain',
 'barn',
 'barney',
 'baron',
 'barri',
 'barriem',
 'barrybernardi',
 'barrychusid',
 'barryh',
 'barrylevinson',
 'barrymendel',
 'barrypeterson',
 'barryrobison',
 'barrysonnenfeld',
 'bas',
 'base',
 'basebal',
 'basedoncomicbook',
 'basedonnovel',
 'basedonplay',
 'basedonstagemus',
 'basedontrueev',
 'basedontruestori',
 'basedontvseri',
 'basedonvideogam',
 'basedonyoungadultnovel',
 'basement',
 'basiliwanyk',
 'basilpoledouri',
 'basketbal',
 'batman',
 'battl',
 'battlefield',
 'bay',
 'bazluhrmann',
 'beach',
 'bear',
 'beast',
 'beat',
 'beatrixarunapasztor',
 'beaubord',
 'beauflynn',
 'beauti',
 'beautiful',
 'becam',
 'becaus',
 'beckysullivan',
 'becom',
 'becominganadult',
 'bed',
 'befor',
 'befriend',
 'began',
 'begin',
 'behavior',
 'bel',
 'belief',
 'believ',
 'belong',
 'belov',
 'ben',
 'benaffleck',
 'benavent',
 'bend',
 'bendavi',
 'benjamÃ­nfernÃ¡ndez',
 'benkingsley',
 'bennett',
 'bennettwalsh',
 'benstil',
 'bent',
 'bentley',
 'benwaisbren',
 'berg',
 'berlin',
 'bernadettemazur',
 'bernardtelsey',
 'berndeiching',
 'bess',
 'best',
 'bestfriend',
 'bet',
 'beth',
 'bethlipari',
 'betray',
 'betsyheimann',
 'better',
 'beverli',
 'bibl',
 'big',
 'biggest',
 'biker',
 'billabbott',
 'billbernstein',
 'billbrzeski',
 'billcarraro',
 'billcorso',
 'billi',
 'billionair',
 'billjohnson',
 'billmurray',
 'billo',
 'billpankow',
 'billpop',
 'billybobthornton',
 'billycryst',
 'billyhopkin',
 'billyweb',
 'biographi',
 'bird',
 'birth',
 'birthday',
 'bisexu',
 'bishop',
 'bissel',
 'bit',
 'bite',
 'bitter',
 'bizarr',
 'bjmcdonnel',
 'black',
 'blackmail',
 'blackpeopl',
 'blade',
 'blame',
 'blind',
 'bliss',
 'block',
 'blond',
 'blood',
 'bloodi',
 'bloodsplatt',
 'bloodthirsti',
 'bloom',
 'blow',
 'blue',
 'board',
 'boat',
 'boazdavidson',
 'boazyakin',
 'bob',
 'bobbadami',
 'bobbeem',
 'bobbi',
 'bobbyfarrelli',
 'bobkan',
 'bobkensing',
 'bobweinstein',
 'bobyari',
 'bodi',
 'body',
 'bodyguard',
 'bollywood',
 'bomb',
 'bond',
 'bonnietimmermann',
 'book',
 'border',
 'bore',
 'born',
 'boss',
 'boston',
 'bound',
 'bounti',
 'bountyhunt',
 'bourn',
 'bowelch',
 'box',
 'boxer',
 'boy',
 'boyd',
 'boyfriend',
 'boys',
 'bradbird',
 'bradleycoop',
 'bradpitt',
 'bradrick',
 'bradsherman',
 'brain',
 'brand',
 'brandontrost',
 'brave',
 'braveri',
 'break',
 'brendanfras',
 'brentwhit',
 'brettratn',
 'brian',
 'brianaveri',
 'brianberdan',
 'briancox',
 'briandepalma',
 'briangraz',
 'brianhel',
 'brianhelgeland',
 'briann',
 'brianreitzel',
 'brianrichard',
 'briantaylor',
 'briantyl',
 'brianw',
 'bride',
 'bridg',
 'brief',
 'brien',
 'brilliant',
 'bring',
 'brink',
 'britain',
 'british',
 'britishsecretservic',
 'broadway',
 'broccoli',
 'broderickjohnson',
 'broke',
 'broken',
 'brook',
 'brooklyn',
 'broom',
 'broomberg',
 'brothel',
 'brother',
 'brotherbrotherrelationship',
 'brotherhood',
 'brothersisterrelationship',
 'brought',
 'brown',
 'brubak',
 'bruc',
 'bruce',
 'brucea',
 'bruceberman',
 'brucefowl',
 'brucegreen',
 'brucewilli',
 'brutal',
 'bryan',
 'bryanbowen',
 'bryansing',
 'bu',
 'bubasman',
 'buck',
 'buddi',
 'budget',
 'build',
 'building',
 'built',
 'bulli',
 'bumbl',
 'buri',
 'burk',
 'burn',
 'burton',
 'burum',
 'bush',
 'busi',
 'business',
 'businessman',
 'bust',
 'butl',
 'butler',
 'buy',
 'cabin',
 'cabrera',
 'cal',
 'calebdeschanel',
 'california',
 'calvin',
 'came',
 'camera',
 'cameroncrow',
 'camerondiaz',
 'camillefriend',
 'camp',
 'campaign',
 'campanelli',
 'campbel',
 'campu',
 'canada',
 'canadian',
 'cancer',
 'candid',
 'cannib',
 'capabl',
 'capit',
 'captain',
 'captiv',
 'captur',
 'car',
 'caraccid',
 'caracciolojr',
 'carchas',
 'carcrash',
 'card',
 'care',
 'career',
 'caribbean',
 'carl',
 'carlson',
 'carmen',
 'carmencuba',
 'carol',
 'carola',
 'carolkief',
 'carollittleton',
 'carolramsey',
 'carolspi',
 'carpent',
 'carrac',
 'carri',
 'carrie',
 'cart',
 'carter',
 'carterburwel',
 'caruso',
 'case',
 'casey',
 'caseyaffleck',
 'cash',
 'casino',
 'cast',
 'castl',
 'cat',
 'cataclysm',
 'catastroph',
 'catch',
 'cateblanchett',
 'catehardman',
 'catherinehardwick',
 'catherineharp',
 'catherinekeen',
 'catherinemariethoma',
 'catherinezeta',
 'cathol',
 'catholic',
 'cathysandrich',
 'caught',
 'caus',
 'cave',
 'celebr',
 'celiad',
 'center',
 'central',
 'centuri',
 'century',
 'certain',
 'chadoman',
 'chads',
 'chain',
 'chainsaw',
 'challeng',
 'champion',
 'championship',
 'chanc',
 'chance',
 'chang',
 'channingtatum',
 'chao',
 'chaos',
 'charact',
 'characters',
 'charg',
 'charismat',
 'charl',
 'charlescroughwel',
 'charlesmayn',
 'charlesroven',
 'charlesw',
 'charli',
 'charlie',
 'charlieclous',
 'charliekaufman',
 'charliewoebcken',
 'charlizetheron',
 'charm',
 'chase',
 'chavez',
 'cheat',
 'cheerlead',
 'chef',
 'chemic',
 'cherylnardi',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childabus',
 'childhood',
 'children',
 'chill',
 'china',
 'chines',
 'chip',
 'choic',
 'choos',
 'chosen',
 'chri',
 'chrisanderson',
 'chrisbend',
 'chrisburdon',
 'chriscolumbu',
 'chriscornwel',
 'chrisdavid',
 'chrisevan',
 'chrishaarhoff',
 'chrishanley',
 'chrishogan',
 'chrisjargo',
 'chrisjenkin',
 'chrisl',
 'chrislebenzon',
 'chrismoor',
 'chriso',
 'chrisrock',
 'chrissand',
 'chrisseag',
 'chrissnyd',
 'christ',
 'christensen',
 'christian',
 'christianbal',
 'christianp',
 'christianwagn',
 'christinebeveridg',
 'christinewilson',
 'christma',
 'christmas',
 'christmasparti',
 'christoph',
 'christophebeck',
 'christopherassel',
 'christopherboy',
 'christophergreenburi',
 'christopherlennertz',
 'christopherlloyd',
 'christophermcquarri',
 'christophermil',
 'christophernolan',
 'christopherplumm',
 'christopherrous',
 'christophers',
 'christopherscarabosio',
 'christophert',
 'christopherwalken',
 'christopherwoodrow',
 'christopheryoung',
 'chrisweitz',
 'chronicl',
 'chu',
 'chuckduk',
 'chuckmichael',
 'church',
 'cia',
 'cindycarr',
 'circu',
 'circumst',
 'citi',
 'citizen',
 'city',
 'civil',
 'civilwar',
 'claim',
 'clair',
 'clan',
 'clark',
 'clash',
 'class',
 'classic',
 'classmat',
 'claudeparÃ©',
 'claudettebariu',
 'claudevandamm',
 'claytontownsend',
 'clean',
 'clear',
 'clerk',
 'client',
 'cliffmartinez',
 'climb',
 'clinteastwood',
 'clintmansel',
 'clinton',
 'cliveowen',
 'clock',
 'clone',
 'close',
 'closer',
 'club',
 'clue',
 'coach',
 'coast',
 'cocain',
 'code',
 'cohen',
 'cold',
 'coldwar',
 'cole',
 'colinanderson',
 'colinfarrel',
 'colinfirth',
 'colinwilson',
 'collaps',
 'colleagu',
 'collect',
 'collector',
 'colleenatwood',
 'colleg',
 'college',
 'collid',
 'colonel',
 'coloni',
 'color',
 'coma',
 'combat',
 'combin',
 'come',
 'comedi',
 'comedian',
 'comedy',
 'comfort',
 'comic',
 'coming',
 'comingofag',
 'comingout',
 'command',
 'commerci',
 'commit',
 'common',
 'commun',
 'compani',
 'companion',
 'company',
 'compet',
 'competit',
 'competition',
 'complet',
 'complex',
 'complic',
 'compos',
 'comput',
 'concern',
 'concert',
 'condit',
 'confid',
 'conflict',
 'confront',
 'confus',
 'congress',
 'conman',
 'connect',
 'connel',
 'connor',
 'conquer',
 'conradbuffiv',
 'consequ',
 'consequences',
 'consid',
 'conspir',
 'conspiraci',
 'construct',
 'consum',
 'contact',
 'contain',
 'contend',
 'contest',
 'continu',
 'contract',
 'control',
 'controversi',
 'convent',
 'convict',
 'convinc',
 'cook',
 'cool',
 'coop',
 'cooper',
 'cop',
 'cope',
 'core',
 'coreenmayr',
 'cori',
 'corner',
 'corpor',
 'corps',
 'corrupt',
 'cosmaspaulbolgerjr',
 'cost',
 'costa',
 'costanzo',
 'costum',
 'count',
 'countri',
 'country',
 'countrysid',
 'coupl',
 'couple',
 'courag',
 'cours',
 'court',
 'courtcas',
 'cousin',
 'cover',
 'covert',
 'cowardli',
 'cowboy',
 'crack',
 'craig',
 'craigalpert',
 'craigarmstrong',
 'craigbarron',
 ...]

In [ ]:
ps.stem('loving')

'love'

In [ ]:
stem('dance')

'danc'

In [ ]:
stem('marine')

'marin'

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity=cosine_similarity(vectors)

In [ ]:
similarity

array([[1.        , 0.07071068, 0.03418817, ..., 0.02948839, 0.        ,
        0.        ],
       [0.07071068, 1.        , 0.03223292, ..., 0.02085144, 0.        ,
        0.02357023],
       [0.03418817, 0.03223292, 1.        , ..., 0.01680257, 0.        ,
        0.        ],
       ...,
       [0.02948839, 0.02085144, 0.01680257, ..., 1.        , 0.04605313,
        0.04914732],
       [0.        , 0.        , 0.        , ..., 0.04605313, 1.        ,
        0.10411584],
       [0.        , 0.02357023, 0.        , ..., 0.04914732, 0.10411584,
        1.        ]])

In [ ]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(2409, 0.28316394223456165),
 (25, 0.25743489909630995),
 (279, 0.21821789023599236),
 (282, 0.2179449471770336),
 (539, 0.1937925580499818)]

In [ ]:
def recommend(movie):
    movie_index=new_df[new_df['title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [ ]:
 recommend('Batman Begins')

The Dark Knight
The Dark Knight Rises
Batman v Superman: Dawn of Justice
Batman
Batman

In [ ]:
new_df.iloc[25]

movie_id                                                  597
title                                                 Titanic
tags        84 year later, a 101-year-old woman name rose ...
Name: 25, dtype: object

In [ ]:
import pickle

In [ ]:
!pip install streamlit

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: streamlit in /usr/local/lib/python3.7/dist-packages (1.14.0)
Requirement already satisfied: rich>=10.11.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (12.6.0)
Requirement already satisfied: importlib-metadata>=1.4 in /usr/local/lib/python3.7/dist-packages (from streamlit) (4.13.0)
Requirement already satisfied: altair>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (4.2.0)
Requirement already satisfied: gitpython!=3.1.19 in /usr/local/lib/python3.7/dist-packages (from streamlit) (3.1.29)
Requirement already satisfied: tornado>=5.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (5.1.1)
Requirement already satisfied: blinker>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (1.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from streamlit) (1.21.6)
Requirement already satisfied: pydeck>=0.1.dev5 in /usr/local/lib/python3.7/dist-packages (from streamlit) (0.8.0)
Requirement already satisfied: pympler>=0.9 in /usr/local/lib/python3.7/dist-packages (from streamlit) (1.0.1)
Requirement already satisfied: semver in /usr/local/lib/python3.7/dist-packages (from streamlit) (2.13.0)
Requirement already satisfied: toml in /usr/local/lib/python3.7/dist-packages (from streamlit) (0.10.2)
Requirement already satisfied: protobuf<4,>=3.12 in /usr/local/lib/python3.7/dist-packages (from streamlit) (3.17.3)
Requirement already satisfied: requests>=2.4 in /usr/local/lib/python3.7/dist-packages (from streamlit) (2.23.0)
Requirement already satisfied: watchdog in /usr/local/lib/python3.7/dist-packages (from streamlit) (2.1.9)
Requirement already satisfied: packaging>=14.1 in /usr/local/lib/python3.7/dist-packages (from streamlit) (21.3)
Requirement already satisfied: typing-extensions>=3.10.0.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (4.1.1)
Requirement already satisfied: tzlocal>=1.1 in /usr/local/lib/python3.7/dist-packages (from streamlit) (1.5.1)
Requirement already satisfied: pyarrow>=4.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (6.0.1)
Requirement already satisfied: pandas>=0.21.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (1.3.5)
Requirement already satisfied: cachetools>=4.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (4.2.4)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (7.1.2)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (7.1.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from streamlit) (2.8.2)
Requirement already satisfied: validators>=0.2 in /usr/local/lib/python3.7/dist-packages (from streamlit) (0.20.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from altair>=3.2.0->streamlit) (2.11.3)
Requirement already satisfied: toolz in /usr/local/lib/python3.7/dist-packages (from altair>=3.2.0->streamlit) (0.12.0)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.7/dist-packages (from altair>=3.2.0->streamlit) (0.4)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.7/dist-packages (from altair>=3.2.0->streamlit) (4.3.3)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.7/dist-packages (from gitpython!=3.1.19->streamlit) (4.0.9)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.7/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19->streamlit) (5.0.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.4->streamlit) (3.10.0)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (5.10.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (0.18.1)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (22.1.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.1->streamlit) (3.0.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.0->streamlit) (2022.5)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf<4,>=3.12->streamlit) (1.15.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->altair>=3.2.0->streamlit) (2.0.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.4->streamlit) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.4->streamlit) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.4->streamlit) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.4->streamlit) (1.24.3)
Requirement already satisfied: pygments<3.0.0,>=2.6.0 in /usr/local/lib/python3.7/dist-packages (from rich>=10.11.0->streamlit) (2.6.1)
Requirement already satisfied: commonmark<0.10.0,>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from rich>=10.11.0->streamlit) (0.9.1)
Requirement already satisfied: decorator>=3.4.0 in /usr/local/lib/python3.7/dist-packages (from validators>=0.2->streamlit) (4.4.2)

In [ ]:
import streamlit as st

In [ ]:
import pickle 
filename="model.pkl"
pickle.dump(new_df,open(filename,"wb"))

In [ ]:
pickle.dump(similarity,open("similarity.pkl","wb"))

In [ ]:
%%writefile app.py
import streamlit as st
import pickle 
import pandas
def recommend(movie):
    movie_index=loadmodel[loadmodel['title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    recommended_movies=[]
    
    for i in movies_list:
        recommended_movies.append(loadmodel.iloc[i[0]].title)
    return recommended_movies

loadmodel=pickle.load(open("model.pkl","rb"))
titlenames=loadmodel["title"].values
similarity=pickle.load(open("similarity.pkl","rb"))


st.title("DarNet Movie Recommender System")

option=st.selectbox("What movie do you want to watch?",titlenames)

if st.button("Recommend"):
    recommendations=recommend(option)
    for i in recommendations:

        st.write(i)

Overwriting app.py

In [ ]:
!streamlit run app.py & npx localtunnel --port 8501

npx: installed 22 in 3.024s

Collecting usage statistics. To deactivate, set browser.gatherUsageStats to False.


  You can now view your Streamlit app in your browser.

  Network URL: http://172.28.0.2:8501
  External URL: http://34.150.159.57:8501

your url is: https://eleven-ears-sniff-34-150-159-57.loca.lt
  Stopping...
^C